doctype html
mixin link(href, name)
    a(class!=attributes.class href=href)=name
html
    head
        title Мій розклад
        meta(charset='utf-8')
        link(rel='shotcut icon' href='img/13.png')
    body
        h1 Особиста сторінка Суханова Олександра
        // Маркерованный список
        ul
            li
                +link('index.html', 'Головна сторінка')(class="btn")
            li
                +link('rozklad.html', 'Мій розклад')(class="btn")
            li
                +link('photo.html', 'Фотоальбом')(class="btn")
            li
                +link('news.html', 'Останні новини')(class="btn")
        // Таблица
        table(border='1' width='85%' cellspacing='0')
            thead
                tr(bgcolor='silver')
                    th Понеділок
                    th Вівторок
                    th Середа
                    th Четвер
                    th П'ятниця
                    th Cубота
                    th Неділя
                    th Час
            tbody
                tr
                    td ...
                    td ...
                    td ...
                    td ...
                    td ...
                    td -------
                    td -------
                    td 8:00
                tr(bgcolor='silver')
                    td ...
                    td ...
                    td ...
                    td ...
                    td ...
                    td -------
                    td -------
                    td 9:35
                tr
                    td ...
                    td ...
                    td Практикум з програмування(лаб)
                    td Основи програмної інженерії(лаб)
                    td ...
                    td -------
                    td -------
                    td 11:25
                tr(bgcolor='silver')
                    td Основи програмної інженерії(лекція)
                    td ...
                    td Практикум з програмування(лаб)
                    td Основи автоматизованого проектування складних об'єктів і систем(лаб)
                    td Основи автоматизованого проектування складних об'єктів і систем(лекція)
                    td -------
                    td -------
                    td 12:55
                tr
                    td Чисельні методи в інформатиці(лекція)
                    td ...
                    td ...
                    td Чисельні методи в інформатиці(лаб)
                    td Front-end технології(лекція)
                    td -------
                    td -------
                    td 14:30
                tr
                    td ...
                    td Front-end технології(лаб)
                    td ...
                    td ...
                    td ...
                    td -------
                    td -------
                    td 16:05
        h2 Викладачі
        ul
            li Чопоров Сергій Вікторович
            li Левчук Сергій Анатолійович
            li Лісняк Андрій Олександрович
            li Лебідь Максим Володимирович
            li Стреляєв Юрій Михайлович
            li Кривохата Анастасія Григорівна
            li Кудін Олексій Володимирович
        footer
            p Copyright 2015. Всі права захищені.  Напишить мені